:root {
    --color-uam: #E26D0B;
    --color-fondo: #FFFFFF;
    --color-boton: #F4966E;
    --color-footer: #FCDCCF;
    --color-sombra: #706E70;
    --color-violencias: #F3976D;
}

body{
    background-color: var(--color-fondo);
    font-family: Arial;
    margin: 0;
    color: black;
}
/*Se hace override del color de la fuente porque en iOS el sistema operativo lo sobre escribe de color azul
https://developer.apple.com/forums/thread/690529*/
button{color: #000;}

#contenedor_inicio{
    /*Permite tener cajas flexibles dentro*/
    display: flex;
    /*Las siguientes 2 líneas se pueden reducir a una sola usando: flex-flow: row wrap;*/
    flex-direction: row;
    flex-wrap: wrap;
    /*alinea el espacio entre cajas hijas*/
    align-items: flex-end;
    justify-content: space-between;
    height: 15vh;
}
#uam_logo{
    /* VW/VH La imagen ocupa el 20% del ancho/alto total del viewport */
    /*width: 20vw;*/
    margin-left: 5vw;
    width: 30vw;
}
#contenedor_inicio_botones{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}

#contenedor_inicio_botones button {
    background-color: var(--color-boton);
    margin-right: 5vw;
    width: 15vw;
    border-radius: 15% 0%;
    padding: .5%;
    border-color: var(--color-boton);
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: .2vw .2vw .5vw var(--color-sombra);

}

button:hover {
    cursor: pointer;
}

#titulo{
    background-color: var(--color-uam);
    width: 100vw;
    height: 20vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: .05vw;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#contenedor_opciones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2.5vw;
    height: 10;
}

#contenedor_opciones button{
    background-color: var(--color-uam);
    border-color: var(--color-uam);
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 1vw;
}

#contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 50vh;
    justify-content: left;
    align-items: center;
}

#contenido_izq {
    width: 49vw;
    font-size: xx-large;
}

#contenido_der {
    width: 49vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#contenido_der button {
    width: 9vw;
    height: 9vw;
    border-radius: 20%;
    /*Evita el desbordamiento de las letras*/
    word-wrap: break-word;
    font-size: xx-small;
    /*Configuraciones para hacer girar el cuadrado y se vuelva un rombo*/
    -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);
     /* offset-x | offset-y | blur-radius | color */
    box-shadow: .2vw .2vw .5vw var(--color-sombra);
}

.impar {
    background-color: var(--color-footer);
    border-color: var(--color-footer);
}

.par {
    background-color: var(--color-boton);
    border-color: var(--color-boton);
}

footer{
    background-color: var(--color-footer);
    width: 100vw;
    height: 25vh;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: .05vw;
    text-align: center;
}

/*Desarrollo reponsivo*/
/* Media query para pantallas con un ancho menor a 700px */
@media only screen and (max-width: 700px) {
    #contenedor_inicio {
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    #uam_logo {
        width: 70vw;
        margin-left: 0;
    }

    #contenedor_inicio_botones button{
        width: 40vw;
    }

    #titulo {
        font-size: small;
    }

    #contenido_izq {
        width: 100vw;
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contenido_der {
        width: 100vw;
    }

    #contenido_der button {
        width: 18vw;
        height: 18vw;
    }
    footer {
        height: 7.5vh;
    }  
  }